// IMPORTS =====================================
@import 'reset';
@import 'fonts';
@import 'mixins';

// VARIABLES ===================================
$background-color: #FFFEFD;
$icon-color: #C2E1F9;
$primary-font: 'Open Sans', sans-serif;

// DEFAULTS ====================================
html {font-size: 62.5%;}
body {font-size: 1.4rem; background-color: #FCFBFA}
a{color: #0060B6;text-decoration: none; cursor: pointer; border: none;}
a:hover{color: #00A0C6; cursor: pointer;}
ul {padding: 0; list-style: none;}
div.container {
	width: 90%;
	max-width: 1440px;
	margin: 0 auto;
	background: $background-color;
	border: 1px solid #F0F0F0;
}

// TYPOGRAPHY ==================================
h1, h2, h3, h4, h5, h6 {font-size: 1.6rem;}

// CONTENT =====================================

div.centering-div {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	div.img-wrapper {
		text-align: center;
		@include bp-landscape {}
		img {
			width: 50%;
		}
	}

	div.text-wrapper {
		width: 80%;
		max-width: 500px;
		margin: 0 auto;
		text-align: center;
		visibility: hidden;
		@include bp-landscape {}
		h1 {
			@include headline;
			line-height: 1.25;
			span {
				font-size: 4.0rem;
			}
		}
	}
	nav {
		visibility: hidden;
		ul {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			li {
				padding: 0 10px;
				a {
					display: block;
					width: 100%;
					color: darken ($icon-color 40%);
					font-size: 3.0rem;
					transition: 0.5s all ease;
					&:hover {
						color: lighten ($icon-color, 80%);
					}
				}
			}
		}
	}
}

// copyright
small.copy {
	display: block;
	font-family: $primary-font;
	text-align: center;
	padding-bottom: 10px;
}
